* {
  box-sizing: border-box;
}

.buy-button {
  cursor: pointer;
  font-size: 10px;
  border-radius: 4px;
  padding: 5px 15px;
  color: #fff;
  background-color: #ff6900;
  font-weight: bold;
}

.buy-button:hover {
  background-color: rgba(255, 105, 0, 0.76);
}

@media (max-width: 375px) {
  .buy-button {
    cursor: pointer;
    font-size: 7px;
    border-radius: 4px;
    padding: 3px 8px;
    color: #fff;
    background-color: #ff6900;
    font-weight: lighter;
  }
}
