.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem 4rem 1rem 4rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  border-top: 3px solid #ff8a36;
  border-bottom: 2px solid #d8d8d8;
}
.info__box li {
  list-style: none;
  line-height: 2rem;
  text-align: start;
  font-size: small;
}
.info__head {
  font-size: medium;
  text-align: center;
  font-weight: 600;
}
.cus-service {
  padding-left: 1rem;
}
.shadow-box {
  background-color: #fcf8ed;
  padding: 1rem 4rem 0 2rem;
}
.payment__box {
  display: flex;
  flex-wrap: wrap;
  object-fit: contain;
  justify-content: space-evenly;
  border-bottom: 2px solid #d8d8d8;
}
.img {
  margin-bottom: 1rem;
  cursor: pointer;
}
.copy-right {
  height: 7vh;
  text-align: center;
  font-weight: 600;
  background-color: #ff6a00a6;
}
.cr-text {
  padding-top: 1rem;
  color: black;
  opacity: 100% !important;
  font-size: small;
}
.img-png {
  width: 300px;
  height: auto;
  object-fit: contain;
}
.email {
  color: #ff6a00bb;
}
.klarna {
  width: 18%;
}
.trygg {
  width: 6%;
}

@media (max-width: 428px) {
  .footer__container {
    margin: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .img-png {
    width: 130px;
    height: auto;
    object-fit: contain;
  }
  .klarna {
    width: 30%;
  }
  .trygg {
    width: 10%;
  }
  .copy-right {
    height: 6vh;
    text-align: center;
    font-weight: 600;
    background-color: #ff6a00a6;
  }
  .cr-text {
    padding-top: 1rem;
    color: black;
    opacity: 100% !important;
    font-size: x-small;
  }
  .info__head {
    margin-bottom: 0;
    font-size: medium;
  }
}
@media (max-width: 376px) {
  .footer__container {
    margin: 0;
  }
}
