*::before,
*::after {
  box-sizing: inherit;
}
.image__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
  margin-top: 30px;
}

.box-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  margin: 15px;
  width: 300px;
}
.main-image {
  width: 600px;
  height: 450px;
}

@media (max-width: 375px) {
  .image__container {
    max-width: 375px;
    margin-top: 2px;
  }

  .box-col {
    max-width: 187.5px;
  }

  .images {
    max-width: 185.5px;
    margin: 1px;
  }
  .main-image {
    max-width: 373px;
    max-height: 250px;
  }
}
