*::before,
*::after {
  box-sizing: inherit;
}
.image__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: normal;
  margin-top: 30px;
}
.box-1 {
  display: flex;
  flex-wrap: wrap;
}

.box-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  margin: 15px;
  width: 300px;
}
.main-image {
  width: 600px;
  height: 450px;
}
