.prod-image {
  object-fit: contain;
  width: 270px;
  padding: 5px;
  border: 1px solid lightgray;
}
.prod-price {
  font-weight: 500;
}
.prod {
  font-size: 20px;
}

@media (max-width: 375px) {
  .item {
    max-width: 187px;
    padding-bottom: 1rem;
  }

  .prod-image {
    max-width: 150px;
  }
  .prod-name {
    font-size: 10px;
  }
  .prod-price {
    font-size: 10px;
  }
  .buy-button {
    font-size: 10px;
  }
}
