.prods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px;
  padding-top: 3rem;
  padding-bottom: 6rem;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

@media (max-width: 375px) {
  .prods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
  }
}
